@media only screen and (max-width: 1149px) {

    section {
        padding: 0 70px;
    }

    .homeNav {
        padding: 45px 75px;
    }

    #email {
        padding: 13px;
        width: 65%;
    }
    #firstForm input[type= button] {
        width: 30%;
        padding: 13px;
    }   
    .intro__image {
        width: 85%;
    } 

    #WCU {
        padding: 100px 0 0;
    }
    .WCU {
        padding: 100px 75px;
    }
    .WCU__image {
        width: 95%;
        align-self: center;
    }

    #CTA {
        padding: 100px 75px;
    }
    .CTA__form input[type= button] {
        width: 46%;
        padding: 13px;
    }
    #mail {
        padding: 13px;
    }    

    #main__footer {
        padding: 100px 75px;
    }
}
@media only screen and (max-width: 1024px) {

    .intro__summary .description {
        padding-right: 6px;
    }    

    .WCU__summary .description:nth-of-type(1) {
        padding-right: 29px;
    }
    .WCU__summary .description:nth-of-type(2) {
        padding-right: 38px;
    }

    .CTA__form input[type= button] {
        width: 51%;
    }

    .CTA__summary p {
        padding-right: 36px;
    }
}
@media only screen and (max-width: 768px) {
    /* body {
        text-align: center;
    } */

    section {
        padding: 0 45px;
    }

    .homeNav {
        padding: 45px 50px;
    }

    #intro {
        grid-template-columns: 1fr;
        gap: 70px;
    }
    .intro__summary {
        grid-row: 2 / 3;
    }

    #WCU {
        padding: 75px 0 0;
    }
    .WCU {
        grid-template-columns: 1fr;
        gap: 70px;
        padding: 75px 45px;
    }
    .WCU__image {
        grid-row: 1 / 2;
    }

    #CTA {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 75px 45px;
    }
    .CTA__form {
        margin-left: 0;
    }

    #main__footer {
        grid-template-areas: 
            'head head'
            'contact nav'
            'docs social'
        ;
        padding: 75px 45px;
    }
    .socials {
        margin-top: 15px;
    }
    .socials li {
        margin-right: 20px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 425px) {
    section {
        /* padding: 0 15px; */
        text-align: center;
    }

    .homeNav {
        /* padding: 40px 15px; */
    }
    .homeNav img {
        width: 35%;
    }
    .homeNav ul li {
        margin-left: 30px;
    }

    /* #intro {
        padding-bottom: 40px;
    } */

    .bg-curve-mobile {
        display: block;
    }
    .WCU__head__img {
        display: none;
    }
    .WCU {
        /* padding: 70px 15px; */
        text-align: center;
    }
    .WCU__summary .description:nth-of-type(1),
    .WCU__summary .description:nth-of-type(2) {
        padding-right: 0;
        text-align: justify;
        margin: 22px 0;
    }
    .testimonial__card {
        text-align: justify;
        line-height: 1.36;
        width: auto;
        font-size: smaller;
    }
    .customer__id>div>p {
        font-size: 10px;
    }

    #CTA {
        gap: 24px;
        /* padding: 75px 15px; */
    }
    .CTA__summary p {
        padding-right: 0;
    }
    .CTA__form {
        width: 100%;
    }
    .CTA__form input[type= button] {
        width: 100%;
    }

    #main__footer {
        grid-template-areas: 
            'head'
            'contact'
            'nav'
            'docs'
            'social'
        ;
        /* gap: 30px; */
    }
    .socials ul {
        justify-content: center;
    }

}
@media only screen and (max-width: 375px) {
    
}